
<div class="container">
 <div class="root">
  <div class="row card" style="margin-top:60px">
    <div class="col-md-4">
  <img  src={{data.pic}} class="image" style="width:250px;height:300px;padding-top: 15px" >
</div>
<div class="col-md-1"></div>
<div class="col-md-7" style="padding-top: 15px"> <h1>{{data.name}}</h1><br>
  <p><span style="font-weight: bolder">{{data.name}}</span> {{data.des}}</p>
</div>
<div class="row">
  <button  type="button" class="btn btn-primary" (click)="go();" style="margin-left:500px;">Go Back To List</button>
</div>
</div>
</div>
</div>
